Flujos.json
[{"id":"e0057e51.0a6a","type":"mqtt out","z":"a9f2cf70.6f8de","name":"alertar limite","topic":"limite/","qos":"0","retain":"false","broker":"4808364.7c898c8","x":839,"y":53,"wires":[]},{"id":"1252f9b6.de5686","type":"debug","z":"a9f2cf70.6f8de","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":426.8998908996582,"y":83.99999523162842,"wires":[]},{"id":"27b14bc8.5cee14","type":"switch","z":"a9f2cf70.6f8de","name":"Elegir","property":"payload.identificador","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"gt","v":"4","vt":"num"},{"t":"eq","v":"4","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":536.8999557495117,"y":246,"wires":[["e0057e51.0a6a","b87017a6.0a9288"],["d4abdda9.6df3","f77a3390.25cac"],["8e2d9dd8.4ea6e","4adb7302.1407fc"],["64aa6f4d.3394","2ab51c2f.33a174"],["5da6eff2.e352d"],["fe1bfe9f.eac2","40d99c1e.3c5fc4"]]},{"id":"3076dc2f.2e9cb4","type":"function","z":"a9f2cf70.6f8de","name":"Format","func":"var res = {};\nvar tempArray = [];\nvar tipo = \"\";\nvar alerta = \"\";\nvar identificador = \"\";\nvar infoadicional = \"\";\n\ntempString = msg.payload;\ntempArray = tempString.split(\"&&\");\nif(tempArray.length!=4){\n    return null;\n}\ntipo = tempArray[0].replace(\"\\r\\n\", \"\");\nalerta = tempArray[1].replace(\"\\r\\n\", \"\");\nidentificador = tempArray[2].replace(\"\\r\\n\", \"\");\ninfoadicional = tempArray[3].replace(\"\\r\\n\", \"\");\n\n\nres.topic = \"alerta\";\nres.payload = {};\n\nres.payload = {\n    \"tipo\": tipo, \n    \"alerta\": alerta, \n    \"identificador\": parseInt(identificador),\n    \"informacion adicional\": infoadicional\n}\n\n\nreturn res;","outputs":1,"noerr":0,"x":334.8998832702637,"y":262.9999794960022,"wires":[["fa072d88.6e43b","27b14bc8.5cee14"]]},{"id":"d4abdda9.6df3","type":"mqtt out","z":"a9f2cf70.6f8de","name":"alertar presencia","topic":"presencia/","qos":"0","retain":"false","broker":"4808364.7c898c8","x":846.8999099731445,"y":283.00000381469727,"wires":[]},{"id":"8e2d9dd8.4ea6e","type":"mqtt out","z":"a9f2cf70.6f8de","name":"alertar excedido","topic":"excedidos/","qos":"0","retain":"false","broker":"4808364.7c898c8","x":842.89990234375,"y":407.0000047683716,"wires":[]},{"id":"fa072d88.6e43b","type":"debug","z":"a9f2cf70.6f8de","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":500.8998794555664,"y":129.99998950958252,"wires":[]},{"id":"b87017a6.0a9288","type":"debug","z":"a9f2cf70.6f8de","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":831.89990234375,"y":156.99999904632568,"wires":[]},{"id":"64aa6f4d.3394","type":"mqtt out","z":"a9f2cf70.6f8de","name":"","topic":"bateria/","qos":"2","retain":"false","broker":"4808364.7c898c8","x":802,"y":529.0000085830688,"wires":[]},{"id":"75db0a91.a2e424","type":"mqtt in","z":"a9f2cf70.6f8de","name":"home/","topic":"home/","qos":"0","broker":"4808364.7c898c8","x":141.99988555908203,"y":270.0000066757202,"wires":[["3076dc2f.2e9cb4","1252f9b6.de5686"]]},{"id":"2ab51c2f.33a174","type":"debug","z":"a9f2cf70.6f8de","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":806.8999061584473,"y":475.9999580383301,"wires":[]},{"id":"f77a3390.25cac","type":"debug","z":"a9f2cf70.6f8de","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":843.8999099731445,"y":242.99995517730713,"wires":[]},{"id":"4adb7302.1407fc","type":"debug","z":"a9f2cf70.6f8de","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":812.8998794555664,"y":346.99994373321533,"wires":[]},{"id":"5da6eff2.e352d","type":"debug","z":"a9f2cf70.6f8de","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":534.8998794555664,"y":487.99994373321533,"wires":[]},{"id":"40d99c1e.3c5fc4","type":"mqtt out","z":"a9f2cf70.6f8de","name":"HeartBeat","topic":"heartbeat/","qos":"0","retain":"false","broker":"4808364.7c898c8","x":794.1000595092773,"y":609.0000095367432,"wires":[]},{"id":"fe1bfe9f.eac2","type":"debug","z":"a9f2cf70.6f8de","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":787.1000595092773,"y":666.0000095367432,"wires":[]},{"id":"4808364.7c898c8","type":"mqtt-broker","z":"","name":"Kobs2","broker":"m11.cloudmqtt.com","port":"14337","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]