Flujos.json
[{"id":"17ebff43.af0881","type":"tab","label":"Rules Flow","disabled":false,"info":""},{"id":"31523ca8.af79f4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"acec7aa2.1654f8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"ffc4baa0.238398","type":"serial-port","z":"","serialport":"COM3","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"1154b403.d3a5bc","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"rediot","name":""},{"id":"e3579350.54445","type":"ui_group","z":"","name":"Estado del deposito[home]","tab":"","disp":true,"width":"6","collapse":true},{"id":"beeef800.413808","type":"mqtt-broker","z":"","name":"","broker":"m11.cloudmqtt.com","port":"14337","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"43beb7cb.2d1cb8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d232c339.686b1","type":"mqtt-broker","z":"","name":"Kobs2","broker":"m11.cloudmqtt.com","port":"14337","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"a87d63da.8088f","type":"inject","z":"17ebff43.af0881","name":"","topic":"prueba","payload":"funciona perras hptas \\n","payloadType":"str","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":255,"y":251,"wires":[["4bfc8101.56c1d"]]},{"id":"a1daa9ef.545768","type":"mqtt in","z":"31523ca8.af79f4","name":"","topic":"home/","qos":"0","broker":"beeef800.413808","x":215,"y":128,"wires":[["93f5fad6.b9e9c8"]]},{"id":"93f5fad6.b9e9c8","type":"debug","z":"31523ca8.af79f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":431,"y":98,"wires":[]},{"id":"4bfc8101.56c1d","type":"mqtt out","z":"17ebff43.af0881","name":"","topic":"limite/","qos":"","retain":"","broker":"beeef800.413808","x":548.890625,"y":212.640625,"wires":[]},{"id":"eebabe7e.05357","type":"mqtt out","z":"acec7aa2.1654f8","name":"alertar limite","topic":"limite/","qos":"0","retain":"false","broker":"d232c339.686b1","x":869.019513130188,"y":70.00390529632568,"wires":[]},{"id":"f54d10ac.b2d94","type":"debug","z":"acec7aa2.1654f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":443.9194221496582,"y":115.00390148162842,"wires":[]},{"id":"b3a7b8a4.e06338","type":"switch","z":"acec7aa2.1654f8","name":"Elegir","property":"payload.identificador","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"gt","v":"4","vt":"num"},{"t":"eq","v":"4","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":553.9194869995117,"y":277.00390625,"wires":[["eebabe7e.05357","70bb6909.83d9f8"],["773160a8.ec88f","25ed8a76.c6c1e6"],["a31f016a.485c5","339315a2.0f78da"],["44223f2c.3854e","42d6a827.ca3708"],["2bd134bf.3abacc"],["ca94260f.eb8b28","fcd675eb.9784b8"]]},{"id":"7f89e77f.edf6e8","type":"function","z":"acec7aa2.1654f8","name":"Format","func":"var res = {};\nvar tempArray = [];\nvar tipo = \"\";\nvar alerta = \"\";\nvar identificador = \"\";\nvar infoadicional = \"\";\n\ntempString = msg.payload;\ntempArray = tempString.split(\"&&\");\nif(tempArray.length!=4){\n    return null;\n}\ntipo = tempArray[0].replace(\"\\r\\n\", \"\");\nalerta = tempArray[1].replace(\"\\r\\n\", \"\");\nidentificador = tempArray[2].replace(\"\\r\\n\", \"\");\ninfoadicional = tempArray[3].replace(\"\\r\\n\", \"\");\n\nid= Math.floor(Math.random()*1);\nid5=Math.floor(Math.random()*1231231);\nid4=Math.floor(101+(Math.random()*32));\nid2=id4-101;\nid3=Math.floor(Math.random()*1);\nres.topic = \"alerta\";\nres.payload = {};\n\nres.payload = {\n    \"tipo\": tipo,\n    \"id\":id5,\n    \"que\": alerta, \n    \"identificador\": parseInt(identificador),\n    \"informacion\": infoadicional,\n    \"dondeHub\":id,\n    \"dondeInmueble\":id2,\n    \"dondeUnidad\":id3,\n    \"numeroApto\":id4\n}\n\n\nreturn res;","outputs":1,"noerr":0,"x":351.9194145202637,"y":294.0038857460022,"wires":[["947b8dd9.94c7b","b3a7b8a4.e06338"]]},{"id":"773160a8.ec88f","type":"mqtt out","z":"acec7aa2.1654f8","name":"alertar presencia","topic":"presencia/","qos":"0","retain":"false","broker":"d232c339.686b1","x":863.9194412231445,"y":314.00391006469727,"wires":[]},{"id":"a31f016a.485c5","type":"mqtt out","z":"acec7aa2.1654f8","name":"alertar excedido","topic":"excedidos/","qos":"0","retain":"false","broker":"d232c339.686b1","x":859.91943359375,"y":438.0039110183716,"wires":[]},{"id":"947b8dd9.94c7b","type":"debug","z":"acec7aa2.1654f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":517.9194107055664,"y":161.00389575958252,"wires":[]},{"id":"70bb6909.83d9f8","type":"debug","z":"acec7aa2.1654f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":848.91943359375,"y":188.00390529632568,"wires":[]},{"id":"44223f2c.3854e","type":"mqtt out","z":"acec7aa2.1654f8","name":"","topic":"bateria/","qos":"2","retain":"false","broker":"d232c339.686b1","x":819.01953125,"y":560.0039148330688,"wires":[]},{"id":"764420ae.abf2a","type":"mqtt in","z":"acec7aa2.1654f8","name":"home/","topic":"home/","qos":"0","broker":"d232c339.686b1","x":159.01941680908203,"y":301.0039129257202,"wires":[["7f89e77f.edf6e8","f54d10ac.b2d94"]]},{"id":"42d6a827.ca3708","type":"debug","z":"acec7aa2.1654f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":823.9194374084473,"y":507.0038642883301,"wires":[]},{"id":"25ed8a76.c6c1e6","type":"debug","z":"acec7aa2.1654f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":860.9194412231445,"y":274.00386142730713,"wires":[]},{"id":"339315a2.0f78da","type":"debug","z":"acec7aa2.1654f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":829.9194107055664,"y":378.00384998321533,"wires":[]},{"id":"2bd134bf.3abacc","type":"debug","z":"acec7aa2.1654f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":551.9194107055664,"y":519.0038499832153,"wires":[]},{"id":"fcd675eb.9784b8","type":"mqtt out","z":"acec7aa2.1654f8","name":"HeartBeat","topic":"heartbeat/","qos":"0","retain":"false","broker":"d232c339.686b1","x":811.1195907592773,"y":640.0039157867432,"wires":[]},{"id":"ca94260f.eb8b28","type":"debug","z":"acec7aa2.1654f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":804.1195907592773,"y":697.0039157867432,"wires":[]}]